   <div class = "mainup">
    <div class="groupall">
     <div class="group">
      ふがふが
     </div>
    </div>
    <div class="endall">
      <div class="endbotton">
       <a href="#">チャットを終了する</a>
      </div>
     </div>
   </div>

<div class = "mainmain">
   <div class="all_m">
    <div class="upchat">
      <div class="muser">
        Tom
      </div>
      <div class="mtime">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="downchat">
      <div class="mchat">
        おはよう
      </div>
    </div>
  </div>

   <div class="all_m">
    <div class="upchat">
      <div class="muser">
        T
      </div>
      <div class="mtime">
        2020/3/31(Wed) 12:43:38
      </div>
    </div>
    <div class="downchat">
      <div class="mchat">
        おは
      </div>
    </div>
  </div>
</div>

<div class = "maindown">
 <div class="form">
 <input class="inputform" placeholder="type a message">
  <label class="imageform">
   <span class="imagefile">画像</span>
   <input type="file" class="hidden">
  </label>
 </div>
 <input class="submitform" type="submit" value="送信">
</div>