   <div class = "sideup">
   <div class = "name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
   </div>
   <div class = "chatbotton">
    <a href="#">チャットを作成する</a>
   </div>
   </div>


   <div class = "sidemain">
    <div class="chat">
     <div class="chatname">
     <a href="#">room1</a>
     </div>
    </div>
    <div class="chat">
     <div class="chatname">
     <a href="#">room2</a>
     </div>
    </div>
   </div>