   <div class = "sideup">
   <div class = "name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
   </div>
   <div class = "chatbotton" >
   <%= link_to "チャットを作成する", new_room_path %>
   </div>
   </div>


   <div class = "sidemain">
   <% current_user.room.each do |room|%>
    <div class="chat">
     <div class="chatname">
     <a href="#"><%= room.name %></a>
     </div>
    </div>
   <%end%>
   </div>